html, body {
	overflow: hidden;
	width   : 100%;
	height  : 100%;
	margin  : 0;
	padding : 0;
}

#renderCanvas {
	width   : 100%;
	height  : 100%;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#trust-container {
	position: absolute;
	bottom: 20px;
	left: 5%;
	width: 90%;
	height: 65px;
}

#trust-container h1 {
	font-size: 30px;
	margin: 0;
	font-family: sans-serif;
	font-weight: normal;
}

#trust-bar {
	width: calc(100% - 10px);
	height: 14px;
	border: 3px solid #CCD4E1;
	border-radius: 12px;
	background-color: #EBEEF3;
	padding: 2px;
}

#trust-bar div {
	width: 100%;
	height: 14px;
	border-radius: 7px;
	overflow: hidden;
}

#trust-bar-inner {
	width: 100%;
	margin-left: 0%;
	height: 14px;
	border-radius: 7px;
	background: red;
	
	-webkit-transition: margin-left 0.5s ease-in-out;
	-moz-transition: margin-left 0.5s ease-in-out;
	-o-transition: margin-left 0.5s ease-in-out;
	transition: margin-left 0.5s ease-in-out;
	
	background-image: -webkit-repeating-linear-gradient(-45deg,
		rgba(0,0,0,0),
		rgba(0,0,0,0) 25px,
		rgba(255,255,255,0.5) 25px,
		rgba(255,255,255,0.5) 50px
	), -webkit-repeating-linear-gradient(right, red, yellow);
	
	background-image: -moz-repeating-linear-gradient(-45deg,
		rgba(0,0,0,0),
		rgba(0,0,0,0) 25px,
		rgba(255,255,255,0.5) 25px,
		rgba(255,255,255,0.5) 50px
	), -moz-repeating-linear-gradient(right, red, yellow);
    
	background-image: -o-repeating-linear-gradient(-45deg,
		rgba(0,0,0,0),
		rgba(0,0,0,0) 25px,
		rgba(255,255,255,0.5) 25px,
		rgba(255,255,255,0.5) 50px
	), -o-repeating-linear-gradient(right, red, yellow);
	
	background-image: repeating-linear-gradient(-45deg,
		rgba(0,0,0,0),
		rgba(0,0,0,0) 25px,
		rgba(255,255,255,0.5) 25px,
		rgba(255,255,255,0.5) 50px
	), linear-gradient(to right, red, yellow);
}

