html, body {
	overflow: hidden;
	width   : 100%;
	height  : 100%;
	margin  : 0;
	padding : 0;
}

#renderCanvas {
	width   : 100%;
	height  : 100%;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#trust-container {
	position: absolute;
	bottom: 20px;
	left: 5%;
	width: 90%;
	height: 65px;
}

#trust-container h1 {
	font-size: 40px;
	margin: 0;
	font-family: sans-serif;
	font-weight: normal;
}

